.q-txt {
  padding-bottom: 0.625em;
  padding-right: 0.5em;
  font-size: larger;
}

.q-should-be {
  padding-bottom: 0.625em;
  padding-left: 0.625em;
  font-size: larger;
}

.q-correct {
  padding-bottom: 1.875em;
  font-size: larger;
}
